<!-- Content Row -->
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4" >
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Integrated dataset - Principal Component Analysis (PCA)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
				<div class="chart-area" id="plotly_graph1" >
                </div>
            </div>
        </div>
    </div>

    <!-- Area Chart -->
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Integrated dataset - Trajectory inference and predicted pseudotime</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" id="plotly_graph2">
                </div>
            </div>
        </div>
    </div>


    <!-- Area Chart -->
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Integrated Cohort - Annotation Table</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" id="plotly_graph3">
                </div>
            </div>
        </div>
    </div>


</div>