{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">PCA profiler</h1>

<!-- Content Row -->
<div class="row">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Abstract</h6>
            </div>
            <div class="card-body">
                <p style="text-align:center;"><img src="/static/img/GraphicalAbstractWebtool.jpg" alt="graphabs" ></p>
                <p class="mb-0">Welcome to the Prostate Cancer Profiler – the web tool that enables you to mine clinical, transcriptional, and genomic data of over 1200 clinical samples across various stages. Associations with prostate cancer progression can be quantified using a quantitative pseudotime progression score. In addition, the tool also allows the annotation of new experimental and clinical data for disease progression. </p>
            </div>
        </div>

</div>


{% endblock content %}
