{% load static %}
<!-- Topbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
  </button>

  <!-- Top Navbar (Topbar) -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars fa-2"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'clinical' %}active{% endif %}">
        <a class="nav-link" href="{% url 'clinical' %}">Clincal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'genes' %}active{% endif %}">
        <a class="nav-link" href="{% url 'genes' %}">Genes</a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pathway' %}active{% endif %}">
        <a class="nav-link" href="{% url 'pathway' %}">PathWay</a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pathway' %}genetics{% endif %}">
        <a class="nav-link" href="{% url 'genetics' %}">Genetics</a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pathway' %}mrna_cna{% endif %}">
        <a class="nav-link" href="{% url 'mrna_cna' %}">mRNA/CNA</a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pathway' %}profile_your_same{% endif %}">
        <a class="nav-link" href="{% url 'profile_your_same' %}">Profile Your Sample</a>
      </li>
    </ul>
  </div>

</nav>
<!-- End of Topbar -->